<div class="main_chat_top">
  <div class="left_top">
    <div class="chat_name">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-top">
    <div class="delete_chat">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="main_chat_main">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room,@message], html: {class: "main_chat_bottom"}, local: true do |f|%>
  <div class="message_form">
    <%= f.text_field :content, class: 'new_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send'%>
<% end %>